# Bike-Sharing Analysis of New York, Chicago and Boston systems

## Importing libraries

In [1]:
import requests
import pandas as pd
import matplotlib.pyplot as plt

## Get Data

Data here is taken throught download and only of the month of April.

- New York : CitiBike
- Chicago : Divvy
- Boston : BlueBikes

In [2]:
NY_df = pd.read_csv('data/201904-citibike-tripdata.csv.zip', compression='zip', header=0, sep=',', quotechar='"', low_memory=False)
CHI_df = pd.read_csv('data/Divvy_Trips_2019_Q2.zip', compression='zip', header=0, sep=',', quotechar='"', low_memory=False)
BOS_df = pd.read_csv('data/201904-bluebikes-tripdata.zip', compression='zip', header=0, sep=',', quotechar='"', low_memory=False)

# add feature to take the dataset directly from https://s3.amazonaws.com/tripdata/index.html

In [3]:
NY_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,88,2019-04-01 00:00:14.7410,2019-04-01 00:01:42.8900,2006,Central Park S & 6 Ave,40.765909,-73.976342,2006,Central Park S & 6 Ave,40.765909,-73.976342,36515,Subscriber,1982,1
1,443,2019-04-01 00:00:20.8270,2019-04-01 00:07:44.2920,254,W 11 St & 6 Ave,40.735324,-73.998004,540,Lexington Ave & E 29 St,40.743116,-73.982154,17406,Subscriber,1983,1
2,662,2019-04-01 00:00:30.9960,2019-04-01 00:11:33.2610,3244,University Pl & E 8 St,40.731437,-73.994903,3244,University Pl & E 8 St,40.731437,-73.994903,20775,Subscriber,1988,1
3,86,2019-04-01 00:00:30.9110,2019-04-01 00:01:56.9600,526,E 33 St & 5 Ave,40.747659,-73.984907,474,5 Ave & E 29 St,40.745168,-73.986831,36270,Subscriber,1982,1
4,136,2019-04-01 00:00:32.5930,2019-04-01 00:02:49.3910,461,E 20 St & 2 Ave,40.735877,-73.982050,504,1 Ave & E 16 St,40.732219,-73.981656,36051,Subscriber,1986,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1766089,516,2019-04-30 23:59:33.7520,2019-05-01 00:08:10.1700,397,Fulton St & Clermont Ave,40.684157,-73.969223,3232,Bond St & Fulton St,40.689622,-73.983043,15005,Subscriber,1983,1
1766090,435,2019-04-30 23:59:35.0850,2019-05-01 00:06:50.4610,432,E 7 St & Avenue A,40.726218,-73.983799,349,Rivington St & Ridge St,40.718502,-73.983299,27227,Subscriber,1992,1
1766091,564,2019-04-30 23:59:40.1050,2019-05-01 00:09:04.3660,3709,W 15 St & 6 Ave,40.738046,-73.996430,432,E 7 St & Avenue A,40.726218,-73.983799,16766,Subscriber,1985,1
1766092,675,2019-04-30 23:59:43.2650,2019-05-01 00:10:58.6670,353,S Portland Ave & Hanson Pl,40.685396,-73.974315,3549,Grand Ave & Bergen St,40.678045,-73.962408,17787,Subscriber,1976,1
1766093,1764,2019-04-30 23:59:50.8000,2019-05-01 00:29:15.0230,368,Carmine St & 6 Ave,40.730386,-74.002150,369,Washington Pl & 6 Ave,40.732241,-74.000264,33169,Subscriber,1991,1

In [4]:
CHI_df

,01 - Rental Details Rental ID,01 - Rental Details Local Start Time,01 - Rental Details Local End Time,01 - Rental Details Bike ID,01 - Rental Details Duration In Seconds Uncapped,03 - Rental Start Station ID,03 - Rental Start Station Name,02 - Rental End Station ID,02 - Rental End Station Name,User Type,Member Gender,05 - Member Details Member Birthday Year
0,22178529,2019-04-01 00:02:22,2019-04-01 00:09:48,6251,446.0,81,Daley Center Plaza,56,Desplaines St & Kinzie St,Subscriber,Male,1975.0
1,22178530,2019-04-01 00:03:02,2019-04-01 00:20:30,6226,"1,048.0",317,Wood St & Taylor St,59,Wabash Ave & Roosevelt Rd,Subscriber,Female,1984.0
2,22178531,2019-04-01 00:11:07,2019-04-01 00:15:19,5649,252.0,283,LaSalle St & Jackson Blvd,174,Canal St & Madison St,Subscriber,Male,1990.0
3,22178532,2019-04-01 00:13:01,2019-04-01 00:18:58,4151,357.0,26,McClurg Ct & Illinois St,133,Kingsbury St & Kinzie St,Subscriber,Male,1993.0
4,22178533,2019-04-01 00:19:26,2019-04-01 00:36:13,3270,"1,007.0",202,Halsted St & 18th St,129,Blue Island Ave & 18th St,Subscriber,Male,1992.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1108158,23479383,2019-06-30 23:58:00,2019-07-01 00:20:22,4573,"1,342.0",206,Halsted St & Archer Ave,206,Halsted St & Archer Ave,Customer,NaN,NaN
1108159,23479384,2019-06-30 23:58:04,2019-07-01 00:14:17,6301,973.0,199,Wabash Ave & Grand Ave,338,Calumet Ave & 18th St,Subscriber,Male,1980.0
1108160,23479385,2019-06-30 23:58:20,2019-07-01 00:25:51,4472,"1,651.0",319,Greenview Ave & Diversey Pkwy,337,Clark St & Chicago Ave,Subscriber,Female,1991.0
1108161,23479386,2019-06-30 23:58:52,2019-07-01 00:11:24,5021,752.0,226,Racine Ave & Belmont Ave,300,Broadway & Barry Ave,Subscriber,Male,1992.0
1108162,23479387,2019-06-30 23:59:05,2019-07-01 00:26:14,4749,"1,629.0",85,Michigan Ave & Oak St,249,Montrose Harbor,Subscriber,Male,1987.0

In [5]:
BOS_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,3363,2019-04-01 00:04:38.1400,2019-04-01 01:00:41.6390,8,Union Square - Brighton Ave at Cambridge St,42.353334,-71.137313,8,Union Square - Brighton Ave at Cambridge St,42.353334,-71.137313,3736,Customer,1969,0
1,1206,2019-04-01 00:06:40.0030,2019-04-01 00:26:46.1020,108,Harvard University / SEAS Cruft-Pierce Halls a...,42.377945,-71.116865,66,Allston Green District - Griggs St at Commonwe...,42.349225,-71.132753,4472,Customer,1993,1
2,123,2019-04-01 00:07:15.5800,2019-04-01 00:09:18.7640,177,University Park,42.362648,-71.100061,68,Central Square at Mass Ave / Essex St,42.365070,-71.103100,2621,Subscriber,1990,1
3,2056,2019-04-01 00:11:03.2790,2019-04-01 00:45:19.8910,157,Seaport Blvd at Sleeper St,42.353178,-71.048174,89,Harvard Law School at Mass Ave / Jarvis St,42.379011,-71.119945,4470,Subscriber,1969,1
4,165,2019-04-01 00:13:56.8360,2019-04-01 00:16:42.0680,110,Harvard University Gund Hall at Quincy St / Ki...,42.376369,-71.114025,79,Beacon St at Washington / Kirkland,42.378420,-71.105668,2589,Subscriber,1988,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166689,544,2019-04-30 23:54:34.0020,2019-05-01 00:03:38.2640,179,MIT Vassar St,42.355601,-71.103945,352,Ring Rd,42.348278,-71.080449,4107,Subscriber,1998,1
166690,307,2019-04-30 23:54:37.1180,2019-04-30 23:59:44.8890,68,Central Square at Mass Ave / Essex St,42.365070,-71.103100,184,Sidney Research Campus/ Erie Street at Waverly,42.357753,-71.103934,2827,Subscriber,1986,1
166691,165,2019-04-30 23:55:08.8940,2019-04-30 23:57:54.1520,113,Andrew T Stop - Dorchester Ave at Dexter St,42.330474,-71.057017,362,Columbia Rd at Tierney Community Center,42.330231,-71.050601,2384,Subscriber,1982,1
166692,1213,2019-04-30 23:55:37.7250,2019-05-01 00:15:51.1010,12,Ruggles T Stop - Columbus Ave at Melnea Cass Blvd,42.336244,-71.087986,185,Third at Binney,42.365445,-71.082771,2053,Subscriber,1992,1
166693,250,2019-04-30 23:57:59.0790,2019-05-01 00:02:09.6080,141,Kendall Street,42.363560,-71.082168,90,Lechmere Station at Cambridge St / First St,42.370677,-71.076529,2102,Subscriber,1989,2

Here we can also appreciate the difference in the sizes of the three datasets

# Data Parsing

First homogenize Chicago dataset with the other two

In [6]:
CHI_df.drop(columns=['01 - Rental Details Rental ID'], inplace=True)

# renaming colmuns
CHI_df.set_axis(['starttime', 'stoptime', 'bikeid', 'tripduration', 'start station id', 'start station name', 
                  'end station id', 'end station name', 'usertype', 'gender', 'birth year'], axis=1, inplace=True)

# changing Male and Female with 1 and 2 (nan = 0)
CHI_df = CHI_df.astype({'gender': str})
CHI_df['gender'] = CHI_df['gender'].str.replace('Male', '1')
CHI_df['gender'] = CHI_df['gender'].str.replace('Female', '2')
CHI_df['gender'] = CHI_df['gender'].str.replace('nan', '0')
CHI_df = CHI_df.astype({'gender': int})

# removing commas from tripduration
CHI_df['tripduration'] = CHI_df['tripduration'].str.replace(',', '')

Below start hour and week day columns are added from starttime. (Remember : Chicago's dataset has also other months other than April so we have to drop some data)

In [7]:
from datetime import datetime as dt

# Extracting starting, ending hour and day of the week (Monday = 0, Tuesday = 1, .., Sunday = 6)
def extract_hour(df):
    datetimes = pd.to_datetime(df['starttime'])
    df['starttime'] = datetimes
    df['start hour'] = df['starttime'].dt.hour
    df['week day'] = df['starttime'].dt.dayofweek
    df = df[df['starttime'].dt.month == 4]
    return df

NY_df = extract_hour(NY_df)
CHI_df = extract_hour(CHI_df)
BOS_df = extract_hour(BOS_df)

In [8]:
NY_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start hour,week day
0,88,2019-04-01 00:00:14.741,2019-04-01 00:01:42.8900,2006,Central Park S & 6 Ave,40.765909,-73.976342,2006,Central Park S & 6 Ave,40.765909,-73.976342,36515,Subscriber,1982,1,0,0
1,443,2019-04-01 00:00:20.827,2019-04-01 00:07:44.2920,254,W 11 St & 6 Ave,40.735324,-73.998004,540,Lexington Ave & E 29 St,40.743116,-73.982154,17406,Subscriber,1983,1,0,0
2,662,2019-04-01 00:00:30.996,2019-04-01 00:11:33.2610,3244,University Pl & E 8 St,40.731437,-73.994903,3244,University Pl & E 8 St,40.731437,-73.994903,20775,Subscriber,1988,1,0,0
3,86,2019-04-01 00:00:30.911,2019-04-01 00:01:56.9600,526,E 33 St & 5 Ave,40.747659,-73.984907,474,5 Ave & E 29 St,40.745168,-73.986831,36270,Subscriber,1982,1,0,0
4,136,2019-04-01 00:00:32.593,2019-04-01 00:02:49.3910,461,E 20 St & 2 Ave,40.735877,-73.982050,504,1 Ave & E 16 St,40.732219,-73.981656,36051,Subscriber,1986,1,0,0

In [9]:
CHI_df.head()

,starttime,stoptime,bikeid,tripduration,start station id,start station name,end station id,end station name,usertype,gender,birth year,start hour,week day
0,2019-04-01 00:02:22,2019-04-01 00:09:48,6251,446.0,81,Daley Center Plaza,56,Desplaines St & Kinzie St,Subscriber,1,1975.0,0,0
1,2019-04-01 00:03:02,2019-04-01 00:20:30,6226,1048.0,317,Wood St & Taylor St,59,Wabash Ave & Roosevelt Rd,Subscriber,2,1984.0,0,0
2,2019-04-01 00:11:07,2019-04-01 00:15:19,5649,252.0,283,LaSalle St & Jackson Blvd,174,Canal St & Madison St,Subscriber,1,1990.0,0,0
3,2019-04-01 00:13:01,2019-04-01 00:18:58,4151,357.0,26,McClurg Ct & Illinois St,133,Kingsbury St & Kinzie St,Subscriber,1,1993.0,0,0
4,2019-04-01 00:19:26,2019-04-01 00:36:13,3270,1007.0,202,Halsted St & 18th St,129,Blue Island Ave & 18th St,Subscriber,1,1992.0,0,0

In [10]:
BOS_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start hour,week day
0,3363,2019-04-01 00:04:38.140,2019-04-01 01:00:41.6390,8,Union Square - Brighton Ave at Cambridge St,42.353334,-71.137313,8,Union Square - Brighton Ave at Cambridge St,42.353334,-71.137313,3736,Customer,1969,0,0,0
1,1206,2019-04-01 00:06:40.003,2019-04-01 00:26:46.1020,108,Harvard University / SEAS Cruft-Pierce Halls a...,42.377945,-71.116865,66,Allston Green District - Griggs St at Commonwe...,42.349225,-71.132753,4472,Customer,1993,1,0,0
2,123,2019-04-01 00:07:15.580,2019-04-01 00:09:18.7640,177,University Park,42.362648,-71.100061,68,Central Square at Mass Ave / Essex St,42.365070,-71.103100,2621,Subscriber,1990,1,0,0
3,2056,2019-04-01 00:11:03.279,2019-04-01 00:45:19.8910,157,Seaport Blvd at Sleeper St,42.353178,-71.048174,89,Harvard Law School at Mass Ave / Jarvis St,42.379011,-71.119945,4470,Subscriber,1969,1,0,0
4,165,2019-04-01 00:13:56.836,2019-04-01 00:16:42.0680,110,Harvard University Gund Hall at Quincy St / Ki...,42.376369,-71.114025,79,Beacon St at Washington / Kirkland,42.378420,-71.105668,2589,Subscriber,1988,1,0,0

Divvy's dataset for the chosen year is missing data about stations latitude and longitude.

In order to get them the dataset from 2020 is used.

In [11]:
chi_2020 = pd.read_csv('202004-divvy-tripdata.zip', compression='zip', header=0, sep=',', quotechar='"', low_memory=False)

# creation of the lat-long df
chi_lat_long = chi_2020[['start_station_name', 'start_lat', 'start_lng']]
chi_lat_long.set_axis(['end_station_name', 'end_lat', 'end_lng'], axis=1, inplace=True)
chi_lat_long = chi_lat_long.append(chi_2020[['end_station_name', 'end_lat', 'end_lng']])
chi_lat_long.drop_duplicates(inplace=True, ignore_index=True)

# merging with original dataframe
CHI_df = pd.merge(left=CHI_df, right=chi_lat_long, how='left', left_on='start station name', right_on='end_station_name')
CHI_df = pd.merge(left=CHI_df, right=chi_lat_long, how='left', left_on='end station name', right_on='end_station_name')
CHI_df.rename(columns={'end_lat_x' : 'start station latitude', 'end_lng_x' : 'start station longitude',
               'end_lat_y' : 'end station latitude', 'end_lng_y' : 'end station longitude'}, inplace=True)

# dropping rows with null values for latitude and longitude
CHI_df.dropna(subset=['start station latitude', 'start station longitude', 'end station latitude',
                      'end station longitude'], inplace=True)

# reordering columns
CHI_df = CHI_df[list(NY_df.columns)]
CHI_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start hour,week day
0,446.0,2019-04-01 00:02:22,2019-04-01 00:09:48,81,Daley Center Plaza,41.8842,-87.6296,56,Desplaines St & Kinzie St,41.8887,-87.6444,6251,Subscriber,1975.0,1,0,0
1,1048.0,2019-04-01 00:03:02,2019-04-01 00:20:30,317,Wood St & Taylor St,41.8692,-87.6710,59,Wabash Ave & Roosevelt Rd,41.8672,-87.6260,6226,Subscriber,1984.0,2,0,0
2,252.0,2019-04-01 00:11:07,2019-04-01 00:15:19,283,LaSalle St & Jackson Blvd,41.8782,-87.6319,174,Canal St & Madison St,41.8821,-87.6398,5649,Subscriber,1990.0,1,0,0
3,357.0,2019-04-01 00:13:01,2019-04-01 00:18:58,26,McClurg Ct & Illinois St,41.8904,-87.6175,133,Kingsbury St & Kinzie St,41.8892,-87.6385,4151,Subscriber,1993.0,1,0,0
4,1007.0,2019-04-01 00:19:26,2019-04-01 00:36:13,202,Halsted St & 18th St,41.8575,-87.6463,129,Blue Island Ave & 18th St,41.8576,-87.6615,3270,Subscriber,1992.0,1,0,0

### Saving the three parsed dataframes as csv files

In [12]:
NY_df.to_csv('data/newyork_dataset', index=False)
CHI_df.to_csv('data/chicago_dataset', index=False)
BOS_df.to_csv('data/boston_dataset', index=False)